body{
    padding: 0.5rem;
}
#root{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.app-title{
    border: 1px solid red;
}
.container{
    border: 1px solid black;
    border-radius: 5px ;
}
.button-container{
    display: flex;
    justify-content: end;
}