@import url(./styles/reset.css);
@import url('./styles/body.css');
@import url('./styles/stepper.css');
@import url('./styles/heading.css');
@import url('./styles/education.css');
@import url('./styles/experience.css');
@import url('./styles/resume.css');
@import url('./styles/skills.css');